## train

In [4]:
import pandas as pd
import os

!pip install xlrd

In [5]:
path = 'dataset/'
forder_list = os.listdir(path)
forder_list_py = [file for file in forder_list]

data = pd.DataFrame()
for i in forder_list_py:
    path = f'dataset/{i}/'
    # print(path)
    file_list = os.listdir(path)
    # print(file_list)
    file_list_py = [file for file in file_list if file.endswith('.xlsx')]
    file_list_py += [file for file in file_list if file.endswith('.xls')]
     
    for j in file_list_py:
        df = pd.read_excel(path + j)
        df['file_name'] =  j
        df = df[['품목명','시설유형','재배형태','file_name']].tail(1)
        data = pd.concat([data, df])
    
data

       품목명 시설유형 재배형태                 file_name
3532    딸기   비닐   수경     경기도_문--농가데이터셋_딸기.xlsx
3321    딸기   비닐   수경     경기도_박--농가데이터셋_딸기.xlsx
3493    딸기   비닐   수경     경기도_안--농가데이터셋_딸기.xlsx
3531    딸기   비닐   수경     경기도_이--농가데이터셋_딸기.xlsx
3506    딸기   비닐   수경     경기도_장--농가데이터셋_딸기.xlsx
...    ...  ...  ...                       ...
5214   토마토   비닐   토경  부산광역시_이--농가데이터셋_토마토.xlsx
3529   토마토   비닐   수경   전라남도_백--농가데이터셋_토마토.xlsx
3207   토마토  NaN  NaN   전라북도_오--농가데이터셋_토마토.xlsx
6544  파프리카   비닐   수경  경상남도_정--농가데이터셋_파프리카.xlsx
7264  파프리카   비닐   수경   전라북도_천--농가데이터셋_파프리카.xls

[103 rows x 4 columns]

In [49]:
for i in data["품목명"].unique():
    print(i)
    print(data[data['품목명'] == i]['시설유형'].value_counts())
    print(data[data['품목명'] == i]['재배형태'].value_counts())

딸기
비닐    69
Name: 시설유형, dtype: int64
수경    64
토경     3
Name: 재배형태, dtype: int64
방울토마토
비닐    5
Name: 시설유형, dtype: int64
수경    4
토경    1
Name: 재배형태, dtype: int64
오이
비닐    4
Name: 시설유형, dtype: int64
토경    3
수경    1
Name: 재배형태, dtype: int64
토마토
비닐    7
Name: 시설유형, dtype: int64
수경    5
토경    2
Name: 재배형태, dtype: int64
파프리카
비닐    2
Name: 시설유형, dtype: int64
수경    2
Name: 재배형태, dtype: int64