# 수경인삼 발아

import os
os.chdir("/content/drive/MyDrive/Colab Notebooks/지바이오프로젝트")
!ls

In [1]:
import pandas as pd

df = pd.read_csv("dataset/20210716_재배관리일지.csv", encoding = "cp949")
df

,2020년,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타,Unnamed: 12
0,01월 01일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01월 02일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01월 03일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01월 04일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01월 05일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,01월 27일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,01월 28일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,01월 29일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,01월 30일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,01월 31일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = df.drop("Unnamed: 12", axis = 1)# 필요없는값이라 삭제
df.head()

,2020년,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타
0,01월 01일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01월 02일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01월 03일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01월 04일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01월 05일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.rename(columns={"2020년":"일자"}) # 2020년 컬럼을 일자로 변경
df.head()

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타
0,01월 01일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01월 02일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01월 03일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01월 04일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01월 05일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df["일자"].unique()

array(['01월 01일', '01월 02일', '01월 03일', '01월 04일', '01월 05일', '01월 06일',
       '01월 07일', '01월 08일', '01월 09일', '01월 10일', '01월 11일', '01월 12일',
       '01월 13일', '01월 14일', '01월 15일', '01월 16일', '01월 17일', '01월 18일',
       '01월 19일', '01월 20일', '01월 21일', '01월 22일', '01월 23일', '01월 24일',
       '01월 25일', '01월 26일', '01월 27일', '01월 28일', '01월 29일', '01월 30일',
       '01월 31일', '02월 01일', '02월 02일', '02월 03일', '02월 04일', '02월 05일',
       '02월 06일', '02월 07일', '02월 08일', '02월 09일', '02월 10일', '02월 11일',
       '02월 12일', '02월 13일', '02월 14일', '02월 15일', '02월 16일', '02월 17일',
       '02월 18일', '02월 19일', '02월 20일', '02월 21일', '02월 22일', '02월 23일',
       '02월 24일', '02월 25일', '02월 26일', '02월 27일', '02월 28일', '02월 29일',
       '03월 01일', '03월 02일', '03월 03일', '03월 04일', '03월 05일', '03월 06일',
       '03월 07일', '03월 08일', '03월 09일', '03월 10일', '03월 11일', '03월 12일',
       '03월 13일', '03월 14일', '03월 15일', '03월 16일', '03월 17일', '03월 18일',
       '03월 19일', '03월 20일', '03월 21일', '03월 22일', '03월 23일', '03월 24일',
       '03월 25일', '03월 26일', '03월 27일', '03월 28일', '03월 29일', '03월 30일',
       '03월 31일', '04월 01일', '04월 02일', '04월 03일', '04월 04일', '04월 05일',
       '04월 06일', '04월 07일', '04월 08일', '04월 09일', '04월 10일', '04월 11일',
       '04월 12일', '04월 13일', '04월 14일', '04월 15일', '04월 16일', '04월 17일',
       '04월 18일', '04월 19일', '04월 20일', '04월 21일', '04월 22일', '04월 23일',
       '04월 24일', '04월 25일', '04월 26일', '04월 27일', '04월 28일', '04월 29일',
       '04월 30일', '05월 01일', '05월 02일', '05월 03일', '05월 04일', '05월 05일',
       '05월 06일', '05월 07일', '05월 08일', '05월 09일', '05월 10일', '05월 11일',
       '05월 12일', '05월 13일', '05월 14일', '05월 15일', '05월 16일', '05월 17일',
       '05월 18일', '05월 19일', '05월 20일', '05월 21일', '05월 22일', '05월 23일',
       '05월 24일', '05월 25일', '05월 26일', '05월 27일', '05월 28일', '05월 29일',
       '05월 30일', '05월 31일', '06월 01일', '06월 02일', '06월 03일', '06월 04일',
       '06월 05일', '06월 06일', '06월 07일', '06월 08일', '06월 09일', '06월 10일',
       '06월 11일', '06월 12일', '06월 13일', '06월 14일', '06월 15일', '06월 16일',
       '06월 17일', '06월 18일', '06월 19일', '06월 20일', '06월 21일', '06월 22일',
       '06월 23일', '06월 24일', '06월 25일', '06월 26일', '06월 27일', '06월 28일',
       '06월 29일', '06월 30일', '07월 01일', '07월 02일', '07월 03일', '07월 04일',
       '07월 05일', '07월 06일', '07월 07일', '07월 08일', '07월 09일', '07월 10일',
       '07월 11일', '07월 12일', '07월 13일', '07월 14일', '07월 15일', '07월 16일',
       '07월 17일', '07월 18일', '07월 19일', '07월 20일', '07월 21일', '07월 22일',
       '07월 23일', '07월 24일', '07월 25일', '07월 26일', '07월 27일', '07월 28일',
       '07월 29일', '07월 30일', '07월 31일', '08월 01일', '08월 02일', '08월 03일',
       '08월 04일', '08월 05일', '08월 06일', '08월 07일', '08월 08일', '08월 09일',
       '08월 10일', '08월 11일', '08월 12일', '08월 13일', '08월 14일', '08월 15일',
       '08월 16일', '08월 17일', '08월 18일', '08월 19일', '08월 20일', '08월 21일',
       '08월 22일', '08월 23일', '08월 24일', '08월 25일', '08월 26일', '08월 27일',
       '08월 28일', '08월 29일', '08월 30일', '08월 31일', '09월 01일', '09월 02일',
       '09월 03일', '09월 04일', '09월 05일', '09월 06일', '09월 07일', '09월 08일',
       '09월 09일', '09월 10일', '09월 11일', '09월 12일', '09월 13일', '09월 14일',
       '09월 15일', '09월 16일', '09월 17일', '09월 18일', '09월 19일', '09월 20일',
       '09월 21일', '09월 22일', '09월 23일', '09월 24일', '09월 25일', '09월 26일',
       '09월 27일', '09월 28일', '09월 29일', '09월 30일', '10월 01일', '10월 02일',
       '10월 03일', '10월 04일', '10월 05일', '10월 06일', '10월 07일', '10월 08일',
       '10월 09일', '10월 10일', '10월 11일', '10월 12일', '10월 13일', '10월 14일',
       '10월 15일', '10월 16일', '10월 17일', '10월 18일', '10월 19일', '10월 20일',
       '10월 21일', '10월 22일', '10월 23일', '10월 24일', '10월 25일', '10월 26일',
       '10월 27일', '10월 28일', '10월 29일', '10월 30일', '10월 31일', '11월 01일',
       '11월 02일', '11월 03일', '11월 04일', '11월 05일', '11월 06일', '11월 07일',
       '11월 08일', '11월 09일', '11월 10일', '11월 11일', '11월 12일', '11월 13일',
       '11월 14일', '11월 15일', '11월 16일', '11월 17일', '11월 18일', '11월 19일',
       '11월 20일', '11월 21일', '11월 22일', '11월 23일', '11월 24일', '11월 25일',
       '11월 26일', '11월 27일', '11월 28일', '11월 29일', '11월 30일', '12월 01일',
       '12월 02일', '12월 03일', '12월 04일', '12월 05일', '12월 06일', '12월 07일',
       '12월 08일', '12월 09일', '12월 10일', '12월 11일', '12월 12일', '12월 13일',
       '12월 14일', '12월 15일', '12월 16일', '12월 17일', '12월 18일', '12월 19일',
       '12월 20일', '12월 21일', '12월 22일', '12월 23일', '12월 24일', '12월 25일',
       '12월 26일', '12월 27일', '12월 28일', '12월 29일', '12월 30일', '12월 31일',
       '2021년'], dtype=object)

* 마지막에 2021년 혼자 튀는 값이 있다 그래서 없애줄것이다

In [5]:
df = df[df["일자"]!="2021년"].copy()
df.tail()

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타
393,01월 27일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,01월 28일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,01월 29일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,01월 30일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,01월 31일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.reset_index(inplace=False)
df.tail()

,index,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타
392,393,01월 27일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,394,01월 28일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,395,01월 29일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,396,01월 30일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,397,01월 31일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df.drop('index', axis = 1)
df

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타
0,01월 01일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01월 02일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01월 03일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01월 04일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01월 05일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
392,01월 27일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,01월 28일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,01월 29일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,01월 30일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,01월 31일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df["년도"] = "" # 년도 컬럼 새로 만듦
df

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타,년도
0,01월 01일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,01월 02일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,01월 03일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,01월 04일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,01월 05일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,01월 27일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
393,01월 28일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
394,01월 29일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
395,01월 30일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
396,01월 31일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [9]:
index_20 = df[df["일자"].str.contains("12월 31일")].index # 2020년 마지막 값 저장된 인덱스
df["년도"][:index_20[0] + 1] = "2020"
df["년도"][index_20[0] + 1:] = "2021"

In [10]:
df["년도"].value_counts()

2020    366
2021     31
Name: 년도, dtype: int64

## 업무 시작일 확인

업무시작일 전에는 필요없으므로 그 이후의 날들만 다시 가져와 전처리 수행하자

In [11]:
df[~df["업무"].isnull()] # (완성) ~df 가 무엇인가? - not 연산을 생각하면 쉽다

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타,년도
65,03월 06일,묘삼 발아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"석회보르도 1000ppm, 10분 살균\n23℃, 광공급(2줄)",2020
71,03월 12일,정식,74~76,20.3~20.9,5.8,0.1,19.8,12월 12일,17.3,NaN,0.4,관수: 60초/15분,2020
72,03월 13일,"보식, 세척 및 발아",75~80,20.0~20.8,6,0.4,16.3,12월 12일,NaN,NaN,NaN,NaN,2020
75,03월 16일,보식,78~81,20.0~20.8,6,0.4,16.6,12월 12일,NaN,NaN,NaN,발아: 곰팡이 일부 발생,2020
77,03월 18일,2차정식,79~85,20.1~20.8,6,0.5,16.3,12월 12일,NaN,NaN,NaN,1단 정식 완료,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,11월 02일,휴가,NaN,NaN,NaN,NaN,NaN,12월 12일,NaN,NaN,NaN,NaN,2020
310,11월 06일,용수교환,65~72,19.1~20.6,6,1,18.8,12월 12일,NaN,NaN,NaN,"처리(MeJA, Geraniol 500ppm, 청색광, 청색광+처리), 양액정지(양수만)",2020
318,11월 14일,양액교환,66~71,18.9~20.3,8.1,0.3,18.5,12월 12일,NaN,NaN,NaN,"수확(샘플)->건조(잎줄기/뿌리), 수분스트레스(60초/180분)",2020
324,11월 20일,용수교환,66~72,19.0~20.3,8.2,0.2,18.7,12월 12일,NaN,NaN,NaN,NaN,2020
358,12월 24일,가을묘삼 저장(20채),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"5채씩 질석에 분주, 8℃ 저장",2020

* index 65에 해당하는 3월 6일에 시작함을 알수있다

In [12]:
df_first = df[65:]
df_first.head(5)

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타,년도
65,03월 06일,묘삼 발아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"석회보르도 1000ppm, 10분 살균\n23℃, 광공급(2줄)",2020
66,03월 07일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
67,03월 08일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
68,03월 09일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,곰팡이 발생,2020
69,03월 10일,NaN,63~67,19.5~21.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020

In [13]:
df_first.tail(5)

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타,년도
392,01월 27일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
393,01월 28일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
394,01월 29일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
395,01월 30일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
396,01월 31일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021

## 변수에 대한 값 확인

In [14]:
df_cols = df_first.columns
df_cols

Index(['일자', '업무', '실내습도(%)', '실내온도(℃)', 'pH', 'EC', '수온(℃)', '광시간(명/암)',
       '수온(℃)보정', 'pH보정', 'EC보정', '기타', '년도'],
      dtype='object')

In [15]:
for i in df_first.columns:
    print(i)
    print(df_first[i].value_counts())
    print()

일자
03월 06일    1
10월 20일    1
10월 18일    1
10월 17일    1
10월 16일    1
          ..
06월 23일    1
06월 22일    1
06월 21일    1
06월 20일    1
01월 31일    1
Name: 일자, Length: 332, dtype: int64

업무
양액교환            21
생육조사             5
추석연휴             5
용수교환             4
보식               3
정식               3
양액 교환            2
세척 및 발아          2
묘삼 발아            1
휴먼타파(7℃)         1
휴가               1
한글날              1
임시휴일             1
광복절              1
광공급              1
수확(90일)          1
휴먼타파(4℃)         1
휴먼타파(1℃)         1
용수로 전환           1
석가탄신일            1
총선               1
양액 변경            1
2차정식             1
보식, 세척 및 발아      1
가을묘삼 저장(20채)     1
Name: 업무, dtype: int64

실내습도(%)
67~72    19
66~71    15
66~72    13
68~72     9
65~71     5
         ..
57~92     1
59~72     1
69~71     1
61~71     1
52~71     1
Name: 실내습도(%), Length: 63, dtype: int64

실내온도(℃)
20.2~21.8    12
18.9~20.3     8
20.2~21.6     7
19.2~20.9     7
19.0~20.3     6
             ..
19.3~20.4     1
19.3~20.9     1
19.3~21.9     1
20.4~21.9     1
19.1~21.3     1
Name: 실내온도(℃), Length: 70, dtype: int64

pH
6      63
5.9    35
5.8    16
8.1     6
8.3     4
8.2     3
5.6     3
5.7     3
6.1     2
7.8     1
7.9     1
8       1
8.5     1
Name: pH, dtype: int64

EC
0.4    37
0.7    21
0.2    20
1      19
1.1    12
0.3    12
0.5     8
0.1     6
0.6     2
0.9     2
Name: EC, dtype: int64

수온(℃)
17.3    11
19.5    11
18.9    10
17.8     9
18.5     9
18.8     8
17.7     8
18.7     7
17.2     5
17.5     5
18.6     4
16.3     4
16.5     4
17.6     4
18.4     3
19.3     3
19.6     3
19.8     3
17.4     3
16.8     3
16.6     3
16.7     3
19.4     2
17       2
18.3     2
20       2
19.2     2
19.7     2
19.1     1
20.5     1
20.1     1
17.9     1
16.2     1
16.9     1
23.6     1
20.4     1
38.1     1
23.7     1
23.4     1
27.1     1
Name: 수온(℃), dtype: int64

광시간(명/암)
12월 12일    211
08월 16일     10
Name: 광시간(명/암), dtype: int64

수온(℃)보정
18.8    2
17.3    1
Name: 수온(℃)보정, dtype: int64

pH보정
6    8
Name: pH보정, dtype: int64

EC보정
0.4    5
0.7    3
1      1
0.3    1
0.2    1
Name: EC보정, dtype: int64

기타
생육조사(무게, 근경, 초장)                       3
세척 및 발아: 2판                            2
pH, EC 센서 청소                           2
소독(석회보르도 1000ppm)                      2
석회보르도 1000ppm, 10분 살균\n23℃, 광공급(2줄)    1
                                      ..
EC 0.3                                 1
EC 0.4, 60초/20분                        1
양액온도 1도올림, 습도 10%내림                    1
60초/30분, 칠러정지                          1
-5℃로 변경                                1
Name: 기타, Length: 68, dtype: int64

년도
2020    301
2021     31
Name: 년도, dtype: int64

In [16]:
df_first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 65 to 396
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   일자        332 non-null    object
 1   업무        62 non-null     object
 2   실내습도(%)   153 non-null    object
 3   실내온도(℃)   153 non-null    object
 4   pH        139 non-null    object
 5   EC        139 non-null    object
 6   수온(℃)     147 non-null    object
 7   광시간(명/암)  221 non-null    object
 8   수온(℃)보정   3 non-null      object
 9   pH보정      8 non-null      object
 10  EC보정      11 non-null     object
 11  기타        73 non-null     object
 12  년도        332 non-null    object
dtypes: object(13)
memory usage: 33.8+ KB

## 데이터 전처리

### 변수 업무 전처리

In [17]:
df_first["업무"].isnull().sum()

270

* 널값 270개

#### 널값을 전부 업무없음으로 처리

In [18]:
df_first["업무"] = df_first["업무"].fillna("업무없음")
df_first["업무"].isnull().sum()

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1694508715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["업무"] = df_first["업무"].fillna("업무없음")

0

In [19]:
df_first["업무"].value_counts()

업무없음            270
양액교환             21
생육조사              5
추석연휴              5
용수교환              4
정식                3
보식                3
양액 교환             2
세척 및 발아           2
묘삼 발아             1
휴먼타파(7℃)          1
휴가                1
한글날               1
임시휴일              1
광복절               1
광공급               1
수확(90일)           1
휴먼타파(4℃)          1
휴먼타파(1℃)          1
용수로 전환            1
석가탄신일             1
총선                1
양액 변경             1
2차정식              1
보식, 세척 및 발아       1
가을묘삼 저장(20채)      1
Name: 업무, dtype: int64

In [20]:
df_first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 65 to 396
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   일자        332 non-null    object
 1   업무        332 non-null    object
 2   실내습도(%)   153 non-null    object
 3   실내온도(℃)   153 non-null    object
 4   pH        139 non-null    object
 5   EC        139 non-null    object
 6   수온(℃)     147 non-null    object
 7   광시간(명/암)  221 non-null    object
 8   수온(℃)보정   3 non-null      object
 9   pH보정      8 non-null      object
 10  EC보정      11 non-null     object
 11  기타        73 non-null     object
 12  년도        332 non-null    object
dtypes: object(13)
memory usage: 33.8+ KB

# 실내습도(%) 전처리

실내습도(%)min, 실내습도(%)max 로 칼럼을 새로 만들어 실내습도를 문자열'~' 을기준으로 나누어 각각 넣는다

In [21]:
df_first["실내습도(%)"].unique()

array([nan, '63~67', '66~76', '74~76', '75~80', '78~81', '79~85', '83~85',
       '81~85', '78~84', '76~82', '75~82', '67~80', '67~72', '67~71',
       '47~73', '66~77', '66~72', '66~71', '68~72', '68~71', '68~73',
       '67~73', '76', '75~83', '80~82', '75~81', '76~81', '72~80',
       '76~80', '74~81', '67~78', '70~78', '73~82', '73~87', '57~92',
       '59~72', '69~71', '61~71', '59~63', '59~67', '59~66', '62~66',
       '62~83', '66~82', '77~84', '79~84', '76~84', '74~84', '78~83',
       '79~83', '80~83', '80~84', '72~85', '66~73', '66~69', '66~70',
       '65~71', '65~76', '64~71', '64~72', '65~72', '78.3', '52~71'],
      dtype=object)

In [22]:
df_first["실내습도(%)"].isnull().sum()

179

In [23]:
df_first["실내습도(%)min"] = df_first["실내습도(%)"].str.split("~", expand=True)[0]
df_first["실내습도(%)max"] = df_first["실내습도(%)"].str.split("~", expand=True)[1]

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/190831374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)min"] = df_first["실내습도(%)"].str.split("~", expand=True)[0]
C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/190831374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)max"] = df_first["실내습도(%)"].str.split("~", expand=True)[1]

In [24]:
df_first

,일자,업무,실내습도(%),실내온도(℃),pH,EC,수온(℃),광시간(명/암),수온(℃)보정,pH보정,EC보정,기타,년도,실내습도(%)min,실내습도(%)max
65,03월 06일,묘삼 발아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"석회보르도 1000ppm, 10분 살균\n23℃, 광공급(2줄)",2020,NaN,NaN
66,03월 07일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,NaN
67,03월 08일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,NaN
68,03월 09일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,곰팡이 발생,2020,NaN,NaN
69,03월 10일,업무없음,63~67,19.5~21.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,63,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,01월 27일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN
393,01월 28일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN
394,01월 29일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN
395,01월 30일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN
396,01월 31일,업무없음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN

#### 실내습도(%)min 확인

In [25]:
df_first["실내습도(%)min"].unique()

array([nan, '63', '66', '74', '75', '78', '79', '83', '81', '76', '67',
       '47', '68', '80', '72', '70', '73', '57', '59', '69', '61', '62',
       '77', '65', '64', '78.3', '52'], dtype=object)

In [26]:
df_first["실내습도(%)min"].isnull().sum()

179

In [27]:
df_first["실내습도(%)min"] = df_first["실내습도(%)min"].astype("float64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/2866556728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)min"] = df_first["실내습도(%)min"].astype("float64")

In [28]:
min_in = round(df_first["실내습도(%)min"].mean()) # 실내습도 min 의 평균반올림한값 저장
min_in

69

In [29]:
df_first["실내습도(%)min"] = df_first["실내습도(%)min"].fillna(min_in)

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1072220617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)min"] = df_first["실내습도(%)min"].fillna(min_in)

In [30]:
df_first["실내습도(%)min"] = df_first["실내습도(%)min"].astype("int64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/225716948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)min"] = df_first["실내습도(%)min"].astype("int64")

In [31]:
df_first["실내습도(%)min"].value_counts()

69    180
66     37
67     26
68     13
78     11
76     10
75      8
79      8
65      7
64      5
59      4
80      4
73      3
74      3
62      2
72      2
70      1
57      1
63      1
61      1
47      1
77      1
81      1
83      1
52      1
Name: 실내습도(%)min, dtype: int64

* 널값 처리 잘된거 확인해보자

In [32]:
df_first["실내습도(%)min"].isnull().sum()

0

* 실내습도(%) max 확인해보자

In [33]:
df_first["실내습도(%)max"].unique()

array([nan, '67', '76', '80', '81', '85', '84', '82', '72', '71', '73',
       '77', None, '83', '78', '87', '92', '63', '66', '69', '70'],
      dtype=object)

In [34]:
df_first["실내습도(%)max"].isnull().sum() # 널값갯수 반환

181

In [35]:
df_first["실내습도(%)max"] = df_first["실내습도(%)max"].astype("float64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3412175923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)max"] = df_first["실내습도(%)max"].astype("float64")

In [36]:
max_in = round(df_first["실내습도(%)max"].mean())
max_in

76

In [37]:
df_first["실내습도(%)max"] = df_first["실내습도(%)max"].fillna(max_in)

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/2958475033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)max"] = df_first["실내습도(%)max"].fillna(max_in)

In [38]:
df_first["실내습도(%)max"] = df_first["실내습도(%)max"].astype("int64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/298217303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내습도(%)max"] = df_first["실내습도(%)max"].astype("int64")

In [39]:
df_first["실내습도(%)max"].value_counts()

76    185
72     45
71     33
83     13
84     11
81      9
82      9
80      5
73      4
85      4
70      3
67      2
78      2
66      2
77      1
87      1
92      1
63      1
69      1
Name: 실내습도(%)max, dtype: int64

In [40]:
df_first["실내습도(%)max"].isnull().sum()

0

### 실내온도(℃) 전처리

In [41]:
df_first["실내온도(℃)"].unique()

array([nan, '19.5~21.7', '20.3~20.9', '20.0~20.8', '20.1~20.8',
       '20.2~21.1', '20.2~21.6', '20.3~21.7', '20.3~21.9', '20.3~22.0',
       '19.5~22.0', '19.3~21.0', '19.2~20.8', '20.0~25.3', '19.3~21.1',
       '19.2~20.5', '19.4~20.5', '19.2~20.6', '19.4~20.6', '19.3~20.5',
       '20.1~21.6', '20.2~21.8', '20.4~21.6', '21.1~22.7', '21.3~22.7',
       '20.2~22.5', '20.2~21.7', '20.4~21.7', '20.3~20.6', '20.4~21.0',
       '19.4~21.0', '19.7~21.0', '19.7~21.8', '19.7~21.2', '19.5~21.0',
       '19.5~20.9', '19.4~20.9', '19.2~20.9', '19.3~20.4', '19.3~20.9',
       '19.3~20.6', '19.3~21.9', '20.5~21.9', '20.4~21.9', '20.9~22.3',
       '20.9~52.4', '20.2~32.5', '20.4~20.9', '20.4~21.8', '21.2~21.9',
       '19.6~21.8', '19.4~20.4', '20.2~21.4', '20.5~22.0', '20.3~22.6',
       '19.1~21.2', '19.5~21.2', '19.2~21.2', '19.2~21.0', '19.2~20.2',
       '19.2~20.3', '19.0~20.3', '19.0~20.4', '19.1~20.4', '19.1~20.5',
       '19.1~20.7', '19.1~20.6', '18.9~20.5', '18.9~20.3', '19',
       '19.1~21.3'], dtype=object)

In [42]:
df_first["실내온도(℃)"].isnull().sum()

179

In [43]:
df_first["실내온도(℃)"].unique()

array([nan, '19.5~21.7', '20.3~20.9', '20.0~20.8', '20.1~20.8',
       '20.2~21.1', '20.2~21.6', '20.3~21.7', '20.3~21.9', '20.3~22.0',
       '19.5~22.0', '19.3~21.0', '19.2~20.8', '20.0~25.3', '19.3~21.1',
       '19.2~20.5', '19.4~20.5', '19.2~20.6', '19.4~20.6', '19.3~20.5',
       '20.1~21.6', '20.2~21.8', '20.4~21.6', '21.1~22.7', '21.3~22.7',
       '20.2~22.5', '20.2~21.7', '20.4~21.7', '20.3~20.6', '20.4~21.0',
       '19.4~21.0', '19.7~21.0', '19.7~21.8', '19.7~21.2', '19.5~21.0',
       '19.5~20.9', '19.4~20.9', '19.2~20.9', '19.3~20.4', '19.3~20.9',
       '19.3~20.6', '19.3~21.9', '20.5~21.9', '20.4~21.9', '20.9~22.3',
       '20.9~52.4', '20.2~32.5', '20.4~20.9', '20.4~21.8', '21.2~21.9',
       '19.6~21.8', '19.4~20.4', '20.2~21.4', '20.5~22.0', '20.3~22.6',
       '19.1~21.2', '19.5~21.2', '19.2~21.2', '19.2~21.0', '19.2~20.2',
       '19.2~20.3', '19.0~20.3', '19.0~20.4', '19.1~20.4', '19.1~20.5',
       '19.1~20.7', '19.1~20.6', '18.9~20.5', '18.9~20.3', '19',
       '19.1~21.3'], dtype=object)

In [44]:
df_first["실내온도min"] = df_first["실내온도(℃)"].str.split("~", expand=True)[0]
df_first["실내온도max"] = df_first["실내온도(℃)"].str.split("~", expand=True)[1]

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1655771995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내온도min"] = df_first["실내온도(℃)"].str.split("~", expand=True)[0]
C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1655771995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내온도max"] = df_first["실내온도(℃)"].str.split("~", expand=True)[1]

#### 실내온도min 확인

In [45]:
df_first["실내온도min"].unique()

array([nan, '19.5', '20.3', '20.0', '20.1', '20.2', '19.3', '19.2',
       '19.4', '20.4', '21.1', '21.3', '19.7', '20.5', '20.9', '21.2',
       '19.6', '19.1', '19.0', '18.9', '19'], dtype=object)

In [46]:
df_first["실내온도min"].isnull().sum()

179

In [47]:
df_first["실내온도min"] = df_first["실내온도min"].astype("float64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/2523511652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내온도min"] = df_first["실내온도min"].astype("float64")

In [48]:
min_in = round(df_first["실내온도min"].mean())
min_in

20

In [49]:
df_first["실내온도min"] = df_first["실내온도min"].fillna(min_in)

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/2159228202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내온도min"] = df_first["실내온도min"].fillna(min_in)

In [50]:
df_first["실내온도min"].value_counts()

20.0    183
19.2     28
20.2     24
19.3     12
19.1     11
19.4     11
20.4      9
19.0      9
18.9      9
20.3      9
19.5      8
19.7      5
21.3      4
20.5      3
20.9      2
20.1      2
21.2      1
19.6      1
21.1      1
Name: 실내온도min, dtype: int64

In [51]:
df_first["실내온도min"].isnull().sum()

0

- 널값 처리 잘 된거 확인 가능

#### 실내온도max 확인

In [52]:
df_first["실내온도max"].unique()

array([nan, '21.7', '20.9', '20.8', '21.1', '21.6', '21.9', '22.0',
       '21.0', '25.3', '20.5', '20.6', '21.8', '22.7', '22.5', '21.2',
       '20.4', '22.3', '52.4', '32.5', '21.4', '22.6', '20.2', '20.3',
       '20.7', None, '21.3'], dtype=object)

In [53]:
df_first["실내온도max"].isnull().sum()

180

In [54]:
df_first["실내온도max"] = df_first["실내온도max"].astype("float64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/2148627208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내온도max"] = df_first["실내온도max"].astype("float64")

In [55]:
min_in = round(df_first["실내온도max"].mean())
min_in

21

In [56]:
df_first["실내온도max"] = df_first["실내온도max"].fillna(min_in)

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3352067419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["실내온도max"] = df_first["실내온도max"].fillna(min_in)

In [57]:
df_first["실내온도max"].value_counts()

21.0    192
20.3     19
20.9     15
21.8     15
20.6     14
20.5     13
21.6     10
20.8      7
21.7      6
21.9      6
20.4      6
21.2      5
22.7      5
22.0      3
20.2      3
20.7      3
21.1      2
22.5      1
25.3      1
22.3      1
52.4      1
32.5      1
21.4      1
22.6      1
21.3      1
Name: 실내온도max, dtype: int64

In [58]:
df_first["실내온도max"].isnull().sum()

0

- 널값 처리 잘 된거 확인 가능

### 수온(℃) 전처리

In [59]:
df_first['수온(℃)'].unique()

array([nan, '19.8', '16.3', '16.6', '16.7', '16.5', '16.2', '23.6',
       '16.8', '17.4', '17.3', '17', '17.2', '16.9', '17.8', '17.7',
       '17.5', '17.6', '17.9', '18.6', '18.5', '18.8', '18.7', '18.9',
       '23.4', '23.7', '18.3', '38.1', '20.4', '19.5', '19.4', '19.7',
       '18.4', '19.1', '20.1', '20.5', '19.2', '20', '19.3', '19.6',
       '27.1'], dtype=object)

In [60]:
df_first['수온(℃)'].isnull().sum()

185

In [61]:
df_first['수온(℃)'] = df_first['수온(℃)'].astype('float64')

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1129358026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first['수온(℃)'] = df_first['수온(℃)'].astype('float64')

In [62]:
water_mean = round(df_first['수온(℃)'].mean(),1)

In [63]:
df_first['수온(℃)'] = df_first['수온(℃)'].fillna(water_mean)
df_first['수온(℃)'].value_counts()

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1502247302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first['수온(℃)'] = df_first['수온(℃)'].fillna(water_mean)

18.5    194
17.3     11
19.5     11
18.9     10
17.8      9
17.7      8
18.8      8
18.7      7
17.2      5
17.5      5
18.6      4
17.6      4
16.3      4
16.5      4
16.8      3
16.6      3
19.8      3
18.4      3
16.7      3
19.3      3
19.6      3
17.4      3
20.0      2
17.0      2
19.2      2
18.3      2
19.4      2
19.7      2
19.1      1
20.5      1
20.1      1
23.6      1
23.4      1
20.4      1
38.1      1
23.7      1
17.9      1
16.9      1
16.2      1
27.1      1
Name: 수온(℃), dtype: int64

In [64]:
df_first['수온(℃)'].isnull().sum()

0

- 널값 처리 잘 된거 확인 가능

### 광시간(명/암) 전처리

In [65]:
df_first["광시간(명/암)"].unique()

array([nan, '12월 12일', '08월 16일'], dtype=object)

In [66]:
df_first["광시간(명/암)"].isnull().sum()

111

In [67]:
df_first["광시간(명/암)min"] = df_first["광시간(명/암)"].str.split(" ", expand=True)[0]
df_first["광시간(명/암)max"] = df_first["광시간(명/암)"].str.split(" ", expand=True)[1]

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3759842420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)min"] = df_first["광시간(명/암)"].str.split(" ", expand=True)[0]
C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3759842420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)max"] = df_first["광시간(명/암)"].str.split(" ", expand=True)[1]

#### 광시간(명/암)min 확인

In [68]:
df_first["광시간(명/암)min"].unique()

array([nan, '12월', '08월'], dtype=object)

In [69]:
df_first["광시간(명/암)min"].isnull().sum()

111

In [70]:
df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].str.split("월",expand=True)[0]

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3572157500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].str.split("월",expand=True)[0]

In [71]:
df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].astype("float64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/410154263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].astype("float64")

In [72]:
df_first["광시간(명/암)min"].value_counts()

12.0    211
8.0      10
Name: 광시간(명/암)min, dtype: int64

In [73]:
min_in = 12

In [74]:
df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].fillna(min_in)

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3918973119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].fillna(min_in)

In [75]:
df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].astype("int64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1692289003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)min"] = df_first["광시간(명/암)min"].astype("int64")

In [76]:
df_first["광시간(명/암)min"].value_counts()

12    322
8      10
Name: 광시간(명/암)min, dtype: int64

In [77]:
df_first["광시간(명/암)min"].isnull().sum()

0

- 널값 처리 잘 된거 확인 가능

#### 광시간(명/암)max 확인

In [78]:
df_first["광시간(명/암)max"].unique()

array([nan, '12일', '16일'], dtype=object)

In [79]:
df_first["광시간(명/암)max"].isnull().sum()

111

In [80]:
df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].str.split("일",expand=True)[0]

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1792580242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].str.split("일",expand=True)[0]

In [81]:
df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].astype("float64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/1903711065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].astype("float64")

In [82]:
df_first["광시간(명/암)max"].value_counts()

12.0    211
16.0     10
Name: 광시간(명/암)max, dtype: int64

In [83]:
max_in = 12

In [84]:
df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].fillna(max_in)

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/3575030936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].fillna(max_in)

In [85]:
df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].astype("int64")

C:\Users\minjumg\AppData\Local\Temp/ipykernel_10340/269955777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first["광시간(명/암)max"] = df_first["광시간(명/암)max"].astype("int64")

In [86]:
df_first["광시간(명/암)max"].value_counts()

12    322
16     10
Name: 광시간(명/암)max, dtype: int64

In [87]:
df_first["광시간(명/암)max"].isnull().sum()

0

- 널값 처리 잘 된거 확인 가능

## 위의 전처리 한 데이터 csv파일로 저장

In [88]:
df_first.columns

Index(['일자', '업무', '실내습도(%)', '실내온도(℃)', 'pH', 'EC', '수온(℃)', '광시간(명/암)',
       '수온(℃)보정', 'pH보정', 'EC보정', '기타', '년도', '실내습도(%)min', '실내습도(%)max',
       '실내온도min', '실내온도max', '광시간(명/암)min', '광시간(명/암)max'],
      dtype='object')

In [89]:
cols = ['년도', '일자', '업무', '실내습도(%)min', '실내습도(%)max', '실내온도min', '실내온도max',
        '광시간(명/암)min', '광시간(명/암)max', '수온(℃)보정', 'pH보정', 'EC보정', '기타']

# df_first
df_first[cols].head() # 컬럼 재정렬

,년도,일자,업무,실내습도(%)min,실내습도(%)max,실내온도min,실내온도max,광시간(명/암)min,광시간(명/암)max,수온(℃)보정,pH보정,EC보정,기타
65,2020,03월 06일,묘삼 발아,69,76,20.0,21.0,12,12,NaN,NaN,NaN,"석회보르도 1000ppm, 10분 살균\n23℃, 광공급(2줄)"
66,2020,03월 07일,업무없음,69,76,20.0,21.0,12,12,NaN,NaN,NaN,NaN
67,2020,03월 08일,업무없음,69,76,20.0,21.0,12,12,NaN,NaN,NaN,NaN
68,2020,03월 09일,업무없음,69,76,20.0,21.0,12,12,NaN,NaN,NaN,곰팡이 발생
69,2020,03월 10일,업무없음,63,67,19.5,21.7,12,12,NaN,NaN,NaN,NaN